.container {
  background: linear-gradient(#2b1055, #7597de);
  height: 100%;
  overflow: hidden;
}

.section {
  position: relative;
  width: 100%;
  height: 100%;
}

.section::before {
  content: "";
  position: absolute;
  bottom: 0;
  width: 100%;
  height: 100px;
  background: linear-gradient(to top, #292a2d, transparent);
  z-index: 1000;
}

.section img {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  object-fit: cover;
}

#stars {
  left: 100px;
  height: 40%;
}

#moon {
  width: 35%;
  height: 35%;
  left: 25%;
  object-fit: contain;
  mix-blend-mode: screen;
}

#backWind {
  height: 7%;
  top: 40%;
}

#mountain {
  width: 100%;
}

#frontWind {
  height: 150px;
  top: 20rem;
  animation: linear infinite;

  animation-duration: 5s;
}

#front {
  height: 80%;
  bottom: -100px;
  top: auto;
}

#frontParticles {
  right: 0;
  left: auto;
}

@keyframes front-wind {
  0% {
    left: -50%;
  }
  100% {
    left: 100%;
  }
}
