.container {
  width: 100%;
  height: 100%;
  overflow-y: scroll;
  scroll-behavior: smooth;
  scroll-snap-type: y mandatory;
}

.container > section {
  background-color: red;
  width: 100%;
  height: 100%;
  scroll-snap-align: center;
}
