body {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "Nunito", "Segoe UI", "Roboto", "Oxygen", "Ubuntu", "Cantarell",
    "Fira Sans", "Droid Sans", "Helvetica Neue", sans-serif;
  height: 100vh;
  overflow: hidden;
  overflow-x: hidden;

  --main-bg: #20115b;
}

p {
  display: block;
  margin: 0px;
  border: 0px;
  padding: 0px;
}

#root {
  width: 100%;
  height: 100%;
}
